<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="MTCSignKey" value="tax6kthjjo0rf2qc" />
    <add key="ApiBaseURL" value="https://www.weiyouming.com" />
    <add key="ExcelFileName" value="..\..\MTCConfig\MTCConfig.xlsx" />
  </appSettings>
</configuration>